body {
    overflow: hidden;
}

h3 {
    margin: auto 10%;
    color: rgb(18, 150, 238);
}

.drop {
    width: 80vw;
    height: 500px;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 20px;
}

.drag {
    width: 80vw;
    height: 150px;
    margin: 20px auto;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.dragble {
    cursor: pointer;
    margin: 20px;
}